<div class="section">
  <div class="container">
    <div class="row">
      <div class="form-group col-md-12 pushdown">
        <h3>Administrator Panel</h3>
      </div>

      <div class="form-group col-md-12">
        <div class="location-data panel panel-default">
          <div class="panel-heading data-header">User Statistics by State</div>
          <div class="panel-body">
            <span class="data-header data-sub-heading">User Location by State</span>
            <%= column_chart @state_count, library: { backgroundColor: '#EAEAEA' } %><hr/>
            <span class="data-header data-sub-heading">Average Gift Amount by State</span>
            <%= column_chart @avg_gift_by_state, library: { backgroundColor: '#EAEAEA' } %>
          </div>
        </div>

        <div class="location-data panel panel-default">
          <div class="panel-heading data-header">User Statistics by Country</div>
          <div class="panel-body">
            <span class="data-header data-sub-heading">User Location by Country</span>
            <%= geo_chart @country_count, library: { backgroundColor: '#EAEAEA' } %><hr/>
            <span class="data-header data-sub-heading">Average Gift Amount by Country</span>
            <%= geo_chart @avg_gift_by_country, library: { backgroundColor: '#EAEAEA' } %>
          </div>
        </div>

        <div class="location-data panel panel-default">
          <div class="panel-heading data-header">Invitation Status</div>
          <div class="panel-body">
            <%= pie_chart @membership_stats, library: { backgroundColor: '#EAEAEA' } %>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading data-header">User Analytics</div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Statistic</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Average Age of Users:</td>
                  <td><%= @avg_ages %></td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading data-header">Group Analytics</div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Statistic</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Number of Active Groups:</td>
                  <td><%= @num_active_groups %></td>
                </tr>
                <tr>
                  <td>Number of Inactive Groups:</td>
                  <td><%= @num_inactive_groups %></td>
                </tr>
                <tr>
                  <td>Number of Defunct Groups:</td>
                  <td><%= @defunct_groups %></td>
                </tr>
                <tr>
                  <td>Average Group Size:</td>
                  <td><%= @avg_group_size %></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
