<h1>Create Group</h1>

<% if @group.errors.any? %>
  <ul>
    <% @group.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @group do |f| %>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name, placeholder: 'Group Name'%>
  </div>

  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_area :description, placeholder: 'Group Description'%>
  </div>

  <div class="field">
    <%= f.label :exchange_date %><br/>
    <%= f.date_field :exchange_date %>
  </div>

  <div class="field">
    <%= f.label :max_price %><br/>
    <%= f.number_field :max_price, placeholder: '50'%>
  </div>

  <div class="field">
    <%= label_tag :invitations, 'Invite Friends' %><br/>
    <%= text_area_tag :invitations, nil, placeholder: 'Please enter comma separated email addresses of members you would like to invite to join this group (jkatz@example.com, icandy@example.com, etc.).' %>
  </div>

  <div class="actions">
    <%= submit_tag 'Create Group' %>
  </div>
<% end %>
