<h1><%= @group.name %></h1>

<div class="group_info">
  <strong>Group Admin:</strong> <%= @group.admin.first_name %><br/>
  <strong>Group Description:</strong> <%= @group.description %><br/>
  <strong>Gift Exchange Date:</strong> <%= @group.exchange_date.strftime('%A, %B %d, %Y') %><br/>
  <strong>Maximum Gift Price:</strong> $<%= @group.max_price %>
</div>
