<%= flash[:notice] %>
<h3>
  <%= @group.name %>
  
</h3>

<hr>

<h4>Group Information</h4>
<p class="group_info">
  <strong>Group Admin:</strong> <%= @group.admin.first_name %><br/>
  <strong>Group Description:</strong> <%= @group.description %><br/>
  <strong>Gift Exchange Date:</strong> <%= @group.exchange_date.strftime('%A, %B %d, %Y') %><br/>
  <strong>Maximum Gift Price:</strong> $<%= @group.max_price %>
</p>

<h4>Group Members (Matches)</h4>
<p>
  <% @group.memberships.each do |membership| %>
    <%= membership.user.full_name %>
    (<%= membership.receiver_name if !!membership.receiver_name %>)
    <br>
  <% end %>
</p>
<%= render 'admin_controls' if @admin_flag%>

