<h3>
  <%= @group.name %>
  <%= link_to "Match", membership_path(@group), method: :patch, class: 'btn btn-danger' %>
</h3>

<hr>

<h4>Group Information</h4>
<p class="group_info">
  <strong>Group Admin:</strong> <%= @group.admin.first_name %><br/>
  <strong>Group Description:</strong> <%= @group.description %><br/>
  <strong>Gift Exchange Date:</strong> <%= @group.exchange_date.strftime('%A, %B %d, %Y') %><br/>
  <strong>Maximum Gift Price:</strong> $<%= @group.max_price %>
</p>

<h4>Group Members (Matches)</h4>
<p>
  <% @group.memberships.each do |membership| %>
    <%= membership.user.full_name %>
    (<%= membership.receiver_name if !!membership.receiver_name %>)
    <br>
  <% end %>
</p>

<%= form_tag @group, method: :patch, class: 'form-horizontal' do %>
  <div class="form-group">
    <%= label_tag :invitations, 'Invite More Friends' %><br/>
    <%= text_area_tag :invitations, nil, placeholder: 'Please enter comma separated email addresses of friends you would like to invite to this group (jkatz@example.com, icandy@example.com, etc.).', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= submit_tag 'Send More Invites', class: 'btn btn-danger' %>
  </div>
<% end %>
