<div class="section">
  <div class="container">
    <div class="row">
      <div class="form-group col-md-8 col-md-offset-2 pushdown">
        <h3>Edit Profile</h3>
      </div>

      <%= form_for @user do |f| %>
        <div class="form-group col-md-8 col-md-offset-2">
          <% if @user.errors.any? %>
            <div id='error explanation'>
              <% @user.errors.full_messages.each do |msg| %>
                <div class="alert alert-danger" role="alert"><%= msg %></div>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
          <%= f.label :birthdate %>
          <%= f.date_field :birthdate, class: 'form-control' %>
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
          <%= f.label :city %>
          <%= f.text_field :city, class: 'form-control' %>
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
          <%= f.label :state %>
          <%= f.collection_select :state, State.all, :name, :name %>
          <%= f.label :country %>
          <%= f.collection_select :country, Country.all, :name, :name, selected: 'United States of America' %>
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
          <%= f.label "Bio" %>
          <%= f.text_area :bio, placeholder: "Help other gifters know you better (for example, what's your favorite color? shirt size? favorite foods? etc...)", class: 'form-control' %>
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
          <%= f.submit "Update Profile", class: 'btn btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
