<%= flash[:notice] %>

<h1><%= @user.full_name %></h1>
<h3><%= @user.bio %></h3>

<% if @user == current_user %>
  <%= link_to 'Edit Your Bio', edit_user_path(@user) %>
<% end %>

<h3>Groups (Accepted)</h3>
<ul>
  <% current_user.groups.each do |group| %>
    <li><%= link_to group.name, group_path %></li>
  <% end %>
</ul>

<h3>Group Invitations (Pending)</h3>
<ul>
  <% current_user.open_invitations.each do |invite| %>
    <li><%=  invite.group.name %> | <%= link_to 'Accept', edit_invitation_path(invite) %> | <%= link_to 'Decline', invitation_path(invite), method: :delete %></li>
  <% end %>
</ul>
