<%= (link_to "Match", membership_path(@group), method: :patch, class: 'btn btn-danger') if @group.open%>
<%= link_to "Edit Group Info", edit_group_path, method: :get, class: 'btn btn-danger' %>
<% if @group.open %>
<%= form_tag '/invitations', method: :post, class: 'form-horizontal' do %>
  <p>
    <div class="form-group col-md-12">
      <%= label_tag :invitations, 'Invite More Friends' %><br/>
      <%= text_area_tag :invitations, nil, placeholder: 'Please enter comma separated email addresses of friends you would like to invite to this group (jkatz@example.com, icandy@example.com, etc.).', class: 'form-control' %>
      <%= hidden_field_tag 'id', @group.id %>
    </div>
  </p>
  
  <p>
    <div class="form-group col-md-12">
      <%= submit_tag 'Send More Invites', class: 'btn btn-danger' %>
    </div>
  </p>
  <% end %>
<% end %>
