<!DOCTYPE html>
<html>
<head>
  <title>GiftExchangeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= root_path %>">Gift Exchange</a>
      </div>

        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li><%= link_to "Group +", new_group_path %></li>
            <li class="dropdown"><!-- If logged in -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= image_tag gravatar_url(current_user, 24) %>
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
                <li><%= link_to "Log Out", logout_path %></li>
              </ul>
             </li>
          <% else %>
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><%= link_to "Log In", login_path %></li> <!-- If logged out -->
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div id="main-container" class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>

</body>
</html>
